:root {
    --light-gray: hsl(0, 3%, 80%);
    --citrine: hsl(2, 100%, 52%);
    --white: hsl(0, 100%, 100%);
    --ff-poppins: 'Poppins', sans-serif;
    --fs-1: 42px;
    --fs-4: 26px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--ff-poppins);
    scroll-behavior: smooth;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-block: 25px;
    background: var(--rich-black-fogra-29);
    transition: background 0.3s ease;
    z-index: 4;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 150px;

}

.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 150px;
    background-color: transparent;
    padding: 10px;
    width: 100%;
}

.navbar-list {
    display: flex;
    list-style: none;
    gap: 100px;
    margin: 0;
}

.navbar-link {
    color: var(--white);
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar-link:hover {
    color: var(--citrine);
}

.hero {
    min-height: 750px;
    height: 100vh;
    max-height: 1000px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-block: 100px;
}

.hero-subtitle {
    color: var(--citrine);
    font-size: var(--fs-4);
    font-weight: 700;
    margin-bottom: 10px;
}

.hero-title {
    color: var(--white);
    font-size: var(--fs-1);
    line-height: 1.2;
    margin-bottom: 30px;
}

.hero-title > strong {
    color: var(--citrine);
}
.container { max-width: 100%; }


.movies-list { grid-template-columns: repeat(4, 1fr); }

.navbar { margin-inline: auto; }

.header-actions .btn-primary {
margin-right: -1000px ;
display: flex;
--fs-11: 14px;
padding: 10px 35px;
letter-spacing: 1px;
}

.hero .container { width: 1320px; }

.header .logo img{
width: 50%;
height: 50%;
margin-left: 150px;
}

body {
    background: url("../assets/images/bg.jpeg") no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
    padding: 20px;
}

.card h2 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 12px;
    text-align: center;
}

th {
    background-color: #f8f8f8;
    color: #555;
}
